.item-detail {
  width: 600px;
  margin: 0px;
  padding: 0px 10px;
}

.detail-container {
  width: 250px;
  margin: 0px;
  padding: 0px 10px;
}

.detail-header {
  font-size: 14px;
}

.title {
  font-size: 20px;
}

.price {
  margin-bottom: 40px;
  height: 32px;
}

.base-price {
  font-size: 30px;
  font-weight: 400  ;
}

.decimals {
  line-height: 32px;
  vertical-align: top;
  height: 32px;
}

.item-description {
  margin-top: 60PX;
}

.description-title {
  font-weight: 400;
  font-size: 22px;
}

.description {
  font-weight: 100;
  font-size: 15px;
  line-height: 20px;
}
