.item-image-box {
  width: 680px;
  margin: 0px;
  padding: 32px 0px;
  border-radius: 4px;
  overflow: hidden;
}

.item-image {
  width: 680px;
  border-radius: 4px;
}

.detail-container {
  width: 300px;
  margin: 0px;
  padding-top: 32px;
  padding-left: 32px;
}

.detail-header {
  font-size: 14px;
  margin-bottom: 16px;
}

.title {
  font-size: 24px;
  line-height: 28x;
  margin-bottom: 32px;
}

.price {
  margin-bottom: 32px;
}

.base-price {
  font-size: 46px;
  font-weight: 200;

}

.decimals {
  font-size: 20px;
  line-height: 40px;
  vertical-align: top;
}

.buy-button-box {
  padding-top: 32px;
  padding-right: 32px;
}

.item-description {
  margin-top: 60PX;
  padding-left: 32px;
}

.description-title {
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 32px;
}

.description {
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
}

/* @media (max-width: 1100px) {
  .item-image-box {
    width: 680px;
  }

  .item-image {
    width: 680px;
  }
} */
