.items__item__item-box {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid $extra-light-gray;
  padding: 16px;
}

.items__item__image-box {
  margin-right: 16px;
  padding: 0px;
  width: 180px;
  width: 180px;
  border-radius: 4px;
  overflow:hidden;
}

.items__item__item-image {
  margin: 0px;
  cursor: pointer;
}

.items__item__description-box {
  width: 640px;
  padding-right: 32px;
  margin: 16px;
}

.items__item__item-price {
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}

.items__item__free-shipping {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-image: url('/assets/images/ic_shipping.png');
  background-size: 20px;
  background-repeat: no-repeat;
  margin-top: -4px;
}

.items__item__item-title {
  font-size: 18px;
  margin-top: 32px;
}

.items__item__item-state {
  width: 200px;
  font-size: 12px;
  font-weight: 200;
  padding-top: 18px;
}


