<div class="items__item__item-box">
  <div class="items__item__image-box">
    <img
      class="items__item__item-image"
      height="150px"
      [src]=item.picture
      [alt]=item.title
      [title]=item.title
      (click)="goToItemDetail(item.id)"
    />
  </div>
  <div class="items__item__description-box">
    <p>
      <span
        class="items__item__item-price"
        [title]=item.title
        (click)="goToItemDetail(item.id)"
      >
        $ {{ item.price.amount | amount }}
      </span>
      <span
        class="items__item__free-shipping"
        *ngIf="item.free_shipping"
      ></span>
    </p>
    <p class="items__item__item-title">
      {{item.title}}
    </p>
  </div>
</div>
