html, body {
  margin: 0px;
  height: 100vh;
  background-color: $extra-light-gray;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 900px;
  margin: 0px auto;
}

.section-container {
  background-color: white;
  border-radius: 6px;
  padding: 40px;
}

.footer {
  height: 40px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}
